body {
  margin: 0%;
}

.navbar {
  position: fixed;
  display: flex;
  background-color: black;
  top: 0;
  width: 100%;
  justify-content: space-evenly;
  z-index: 1;
}

.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #f2f2f2;
  padding: 25px 20px;
  font-size: 17px;
}

.navbar div:hover {
  background-color: white;
  color: black;
}

.insideTab {
  position: absolute;
  top: 250px;                           
  float: center;
  display: flex;
  text-align: left;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 17px;
  z-index: -500;
  justify-content: center;
}

#photoProfile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#APropos{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background: black;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.icon {
  background: white;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}







